<section>
  <% @astronauts.each do |astronaut| %>
  <ul>
    <li>Name: <%= astronaut.name %></li>
    <li>Age: <%= astronaut.age %></li>
    <li>Job: <%= astronaut.job %></li>
  </ul>
  <% end %>
</section>
